body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Map View */
#export-area {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#export-area-inner {
  width: 450px;
  height: 450px;
  border: solid 2px rgba(84,208,142,0.5);
  background-color: rgba(84,208,142,0.1);
  transition: all .4s;
}
#export-area-inner.disabled {
  border: solid 2px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.05);
}

.btn-mable-preview {
  margin: 5px 5px 5px 12px;
  padding: 11px 45px;
  width: 200px;
  background-color: #ddd;
}

#switch-view-btn {
  display: none;
}

button.disabled {
  pointer-events: none;
}

@media (max-width: 600px) {
  #export-area-inner {
    width: 230px;
    height: 230px;
  }
}

#export-btn-area {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#export-btn-area-inner {
  margin-top: 530px;
  transition: all .4s;
}
#export-btn {
  font-size: 44px;
  color: rgba(84,208,142,0.5);
}
@media (max-width: 600px) {
  #export-btn-area-inner {
    margin-top: 310px;
  }
}

/* override mapbox-gl.css */
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 12px 12px 0 0;
}

/* override mapbox-gl-geocoder.css */
@media (max-width: 600px) {
  .mapboxgl-ctrl-geocoder {
    min-width: 200px;
  }
}